<div class="card">
    <div class="card-header bg-secondary text-white">
        <div class="card-title">
            Base - Receitas
        </div>
    </div>
    <div class="card-body ">
        <form [formGroup]="baseRecipeForm!" (ngSubmit)="addBaseRecipeItem()" autocomplete="off">
            <div class="row">
                <div class="col col-1"></div>
                <div class="col col-4">
                    <div class="form-group">
                        <label>Tipo de Base</label>
                        <select class="form-control" formControlName="baseTypeControl" (change)="onBaseTypeChange($event)">
                            <option [ngValue]="null" disabled>Selecione a base ...</option>
                            <option *ngFor="let item of baseTypes" [ngValue]=item>{{item.name}}</option>
                        </select>
                    </div>
                    <div class="form-group" >
                        <button type="button" class="btn btn-primary btn-sm mb-2" *ngIf="baseTypeSelected" (click)="showNewItemForm()">+</button>
                        <table class="table table-hover" formControlName="baseRecipeControl" ngDefaultControl>
                            <tbody >
                                <tr *ngFor="let item of baseRecipeSelected" (click)="onGridClick(item)" (dblclick)="onGridDoubleClick()">
                                    <td >{{item.rawMaterial.name}}</td>
                                    <td>{{item.gramsPerKg}}</td>
                                    <td>{{item.gramsPerKg * 1000}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col col-1"></div>
                <div class="col col-5"  *ngIf="showEditForm">
                    <div class="form-group">
                        <input type="hidden" formControlName="baseRecipeItemIdControl">
                    </div>
                    <div class="form-group">
                        <label>Ingrediente</label>
                        <select class="form-control" formControlName="rawMaterialControl" (change)="onRawMaterialChange()" [attr.disabled]="baseRecipeItemEditing ? '' : null">
                            <option [ngValue]="null" disabled>Indique o ingrediente ...</option>
                            <option *ngFor="let item of rawMaterials" [ngValue]=item>{{item.name}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Quantidade (gramas)</label>
                        <input type="text" class="form-control" formControlName="gramsPerKgControl" placeholder="000">
                    </div>
                    <div class="form-group text-center">
                        <div class="row col-12">
                            <div  class="form-group col-3">
                                <button *ngIf="!baseRecipeItemEditing" class="btn btn-success mt-2" type="submit">Adicionar</button>
                            </div>
                            <div  class="form-group col-3">
                                <button class="btn btn-secondary mt-2" type="button" (click)="cancelEditing()">Cancelar</button>
                            </div>
                            <div  class="form-group col-3">
                                <button *ngIf="baseRecipeItemEditing" class="btn btn-primary mt-2" type="button" (click)="updateBaseRecipeItem()">Atualizar</button>
                            </div>
                            <div  class="form-group col-3">
                                <button *ngIf="baseRecipeItemEditing" class="btn btn-danger mt-2" type="button" (click)="removeBaseRecipeItem()">Remover</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
