<div class="row">
    <div class="col-sm-3">
        <app-gelato-freezer></app-gelato-freezer>
    </div>
    <div class="col-sm-6">
        <!-- GELATO EM MOVIMENTO -->
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                <div class="card text-center bg-info text-white">
                    <div class="card-header">Gelato em Movimento</div>
                    <div class="card-body bg-light">
                        <h5 class="card-title text-dark">#17 Fragola</h5>
                    </div>
                </div>
            </div>
            <div class="col-sm-3"></div>
        </div>
        <br>
        <!-- GELATO ENTRANDO -->
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                <div class="card text-center bg-success text-white">
                    <div class="card-header">Entrada na Vitrine</div>
                    <div class="card-body bg-light text-dark">
                        <h5 class="card-title">Peso na Entrada</h5>
                        <input type="text" placeholder="2.500g" class="form-control text-center"/>
                        <button type="button" class="btn btn-secondary form-control btn-sm mt-2">Registrar</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-3"></div>
        </div>
        <br>
        <!-- GELATO SAINDO -->
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                <div class="card text-center bg-danger text-white">
                    <div class="card-header">Saída da Vitrine</div>
                    <div class="card-body bg-light text-dark">
                        <h5 class="card-title">Peso na Saída</h5>
                        <input type="text" placeholder="1.300g" class="form-control text-center"/>
                        <button type="button" class="btn btn-secondary text-white form-control btn-sm mt-2">Registrar</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-3"></div>
        </div>

    </div>
    <div class="col-sm-3">
        <app-display></app-display>
    </div>
</div>

