<div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-body">
            <div class="card-header bg-info text-white">VITRINE</div>
            <div class="card-body">
              <h5 class="card-title">La vetrina del giorno</h5>
              <p class="card-text">Sono sempre 18 gusti del nostro fantastico gelato. 
                  Di sicuro troverai quello che te incanterá! </p> 
              <p class="card-text">Há sempre 18 sabores do nosso fantástico sorvete.
                  Com certeza você vai encontrar o que vai te encantar!</p> 
              <p class="card-text">E hoje na nossa vitrine:</p>
              
              <div class="card-columns">
                    <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
                        <div class="card-header">Mandorla Tostata</div>
                        <div class="card-body">
                        <p class="card-text">Gelato de sabor refinado, preparado com amêndoas tostadas. </p>
                        </div>
                    </div>
                    <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
                        <div class="card-header">Fragola</div>
                        <div class="card-body">
                        <p class="card-text">Morango - 0% lactose - 0% gordura </p>
                        </div>
                    </div>
                    <div class="card text-dark bg-warning mb-3" style="max-width: 18rem;">
                        <div class="card-header">Vaniglia Bourbon</div>
                        <div class="card-body">
                        <p class="card-text">Baunilha especial de Madagascar com mescla de biscoitos italianos com
                            nutella.</p>
                        </div>
                    </div>
                    <div class="card text-dark bg-info mb-3" style="max-width: 18rem;">
                        <div class="card-header">Ninho</div>
                        <div class="card-body">
                        <p class="card-text">Delícias da infância ... o sabor do leite ninho num gelato cremoso .</p>
                        </div>
                    </div>
                    <div class="card text-dark bg-light mb-3" style="max-width: 18rem;">
                        <div class="card-header">Caramello Salato</div>
                        <div class="card-body">
                        <p class="card-text">Tradicional doce de leite argentino com uma pitada de sal rosa do Himalaia .</p>
                        </div>
                    </div>
                    <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
                        <div class="card-header">Don Cavallo</div>
                        <div class="card-body">
                        <p class="card-text">Combinação clássica desde 1930: caramelo, amendoim e chocolate.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
  

