<div class="card">
  <div class="card-header bg-secondary text-white" >
      <div class="card-title">
          Gelato
      </div>
  </div>
  <div class="card-body">
      <button class="btn btn-primary btn-sm mb-2" routerLink='/gelatorecipes/create/'>+</button>

      <table class="table table-striped table-hover">
          <tbody>
              <tr *ngFor="let gelato of gelatoRecipesList" routerLink='/gelatorecipes/update/{{gelato.id}}' >
              <td>{{gelato.name}}</td>
                  <td>{{gelato.description}}</td>
                  <td>{{gelato.active}}</td>
                  <td>{{gelato.active ? "Ativo" : "Descontinuado"}}</td>
              </tr>
          </tbody>
      </table>
  </div>
</div>